@model TET_BET.ControllersModels.LoginModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <br/><br/>

    <form asp-action="SignIn" asp-controller="Home">
        <div class="row justify-content-center">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="email" asp-for="email"><br/>
                <input type="password" class="form-control" placeholder="password" asp-for="password"><br/>

                <div class="row">

                    <div class="col">
                        <button type="button" class="btn btn-block btn-info">
                            aaaaaa
                        </button>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-block btn-info">Sign Up</button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>